@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('header.css');
@import url('sobre.css');
@import url('projetos.css');
@import url('skills.css');
@import url('contato.css');

:root {
    --fundo-header: #0f193b;
    --fundo-menu: #1d1e24;
    --fundo-projetos: #0A1128;
    --fundo-skills: #05221a;
    --fundo-contato: #1b0001;
    --preto: #000;
    --branco: #ffffff;
    --roxo: #5f3a92;

    --fonte-padrao: 'Boogaloo', cursive;
    --fonte-titulo: 'Chewy', cursive;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    padding:0;
    margin:0;
    width:100%;
    height:100vh;
    background-color: #0f193b;
  }

  .wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }

  .circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle{
    0%{
    top:60px;
    height:5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
    }
    40%{
    height:20px;
    border-radius: 50%;
    transform: scaleX(1);
    }
    100%{
    top:0%;
    }
  }
  
  .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
  }

  .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }

  .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
  }
  
  @keyframes shadow{
    0%{
      transform: scaleX(1.5);
    }
    40%{
      transform: scaleX(1);
      opacity: .7;
    }
    100%{
      transform: scaleX(.2);
      opacity: .4;
    }
  }

  .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
  }

  .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
  }

  .wrapper span{
    position: absolute;
    top:80px;
    left: 34px;
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    letter-spacing: 6px;
    color: #fff;
  }